#main {
  background: #282c342f url(assets/images/epazote_background.jpg);
}

#menu {
  background: #282c342f url(assets/images/menu-container.jpg);
}

#main, #menu {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#main img {
  width: 40vw;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20vw;
  margin-top: -20vw;
}

#scoll-btn {
  position: fixed;
  padding: 0px;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  font-size: .8rem;
  font-weight: bold;
  background-color: white;
  color: rgb(0, 65, 163);
  border: 2px solid;
  cursor: pointer;
  transition: all .2s;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  outline: none;
}

#scoll-btn:hover {
  background-color: rgba(240, 240, 240, 0.911);
}

#menu #menu-container {
  margin-top: 20px;
  width: 50%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.button {
  width: 250px;
  height: 100px;
  transition: all .4s;
}

.button:hover {
  cursor: pointer;
  opacity: .5;
  margin: 10px;
  margin-left: 50px;
}

@media (max-height: 300px) {
  .button {
    width: 110px;
    height: 50px;
  }
}

@media (max-width: 510px) {
  #main img {
    width: 70vw;
    margin-left: -35vw;
  margin-top: -35vw;
  }

  .button {
    width: 150px;
    height: 80px;
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
